<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Vendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/grafico_vendas" class="active">Gráfico de Vendas</a>
        <!-- Outros links -->
    </div>

    <h1>Gráfico de Produtos Comprados por Usuário</h1>

    <!-- Exibir o gráfico gerado pelo Plotly -->
    <div>
        {{ graph_html | safe }}
    </div>

</body>
</html>
