<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="/cadastrar">Cadastrar Usuário</a>
        <a href="/cadastrar/produto">Cadastrar Produto</a>
    </div>

    <h1>Lista de Produtos</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Comprar</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
            <td>{{ produto[3] }}</td>
            <td>
                <form action="/comprar/{{ produto[0] }}" method="post">
                    <input type="number" name="quantidade" placeholder="Qtd" required>
                    <button type="submit">Comprar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
